body {
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-left: 100px;
    padding-right: 100px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 50px;
}

.left-top {
    list-style-type: none;
    margin-right: auto;
    flex:1;
    padding-left: 0;
    
    
}
.right-top {
    display: flex;
    list-style-type: none;
    gap: 15px;
    padding-right: 0;
}

.header-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 70px;
   
}

.hb-left  {
    flex: 1 1 0;
}

.hb-right {
    flex: 1 1 0;
}

img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}


#text {
    font-size: 48px;
    font-weight: bold;
    color: #f9FAF8;
}

#subtext {
    font-size: 18px;
    color: #E5E7EB;
}



a {
    font-size: 18px;
}



#section-two-text {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.section-three {
    background-color: #E5E7EB ;
}


.footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    text-align: center;
}